@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=My+Soul&family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300&display=swap');
.navbar {
    background-color: #333;
    background: url('https://thumbs.gfycat.com/EmotionalRadiantBovine-max-1mb.gif');
    padding: 5px;
    width: 100%;
    display: flex;
    height: 100px;
  }
  .navbar h1 {
    margin-left: 15px;
    margin-right: 40%;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'My Soul', cursive;
    font-size: 50px;
  }

  .navbar a {
    position: relative;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;  
    
  }
  
  
  .navbar a.active {
    color: white;
  }

  .dark {
    background: black;
    color: white;
  }

  
  .navbar a:hover {
    background-color: transparent;
    color: white;

  }

  nav a::after {
    content: '';
    display: block;
    height: 7px;
    background-color: rgb(187, 187, 187);
    bottom: 1;
    width: 0%;
    transition: all ease-in-out 200ms;
  }
  nav a:hover::after {
    width: 100%;
  }

  body {
    background-image: url('https://www.stockvault.net/data/2020/09/24/279149/preview16.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .zodiac-container {
    display: grid;
    flex-direction: column;
    justify-items: center; 
    text-align: center;
    justify-content: center;
  }


button {
  background-color: transparent;
  padding: 20px;
  margin: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: rgb(53, 53, 124);
  box-shadow: 5px 7px black;
}
p {
  font-size: 20px;
}

.toggleDarkModeButton {
  position: sticky;
  right: 10px;
  top: 30px;
  width: 40px;
  padding: 0;
  height: 40px;
  border: none;
  background-image: url('https://ps.w.org/dark-mode-for-wp-dashboard/assets/icon-256x256.png?rev=2404672');
  background-size: cover;
}




button.aries{
  background-image: url('./images/Aries.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.cancer{
  background-image: url('./images/Cancer.png');
  height: 119px;
  width: 100px;
  border: none;
}
button.cancer{
  background-image: url('./images/Cancer.png');
  height: 119px;
  width: 100px;
  border: none;
}

.history{
  display: flex;
  /* padding: 10px; */
  margin: 50px;
}

.textDiv{
  margin:100px;
  align-self: center;

}

.aboutUs{
  text-align: center;
  margin: 20px;
  
  }

  .thisIsUs{
    background-color: white;
    color: black;
    align-self: center;
    height: 100px;
    /* margin: auto; */
    
  }
  .thisIsUs .dark{
    background-color: black;
    color: white;
    align-self: center;
    height: 100px;
    /* margin: auto; */
    
  }

  .avatar{
    border-bottom: solid white;
    border-width: 5px;
    
  }
  .avatar .dark{
    border-bottom: solid black;
    border-width: 5px;
    
  }

  .ourSite{
    width: 1000px;
    margin: auto;
  }
