@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=My+Soul&family=Open+Sans:ital,wght@0,300;0,600;0,800;1,300&family=Plus+Jakarta+Sans:wght@200;500;800&family=Whisper&display=swap');
.navbar {
    background-color: #333;
    background: url('https://thumbs.gfycat.com/EmotionalRadiantBovine-max-1mb.gif');
    /* background: url("https://i.pinimg.com/originals/ea/c7/01/eac701da5ca08ca9b66fa5a27c16dd65.gif"); */
    /* background-image: url('https://cutewallpaper.org/21/star-background-gif/Animated-Star-Background-Stock-by-FirstDarkAngel2001-on-.gif'); */
    /* background-image: url('https://cutewallpaper.org/21/star-background-gif/Animated-Shooting-Stars-LoveToKnow.gif'); */
    /* overflow: hidden; */
    padding: 5px;
    width: 100%;
    display: flex;
    height: 100px;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  .navbar h1 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 40%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'My Soul', cursive;
    font-size: 50px;
  }

  .navbar a {
    /* float: center; */
    position: relative;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;  
    
  }

  h1 {
    font-family: 'My Soul', cursive;
  }
  p {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  
  .navbar a.active {
    /* background-color: #385ea5; */
    /* border: 2px solid gold; */
    color: white;
  }

  .dark {
    background-image: url('https://www.stockvault.net/data/2020/09/24/279149/preview16.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }

  .dark button{
    color: white;
  }

  navbar a:hover {
    background-color: transparent;
    /* border-bottom: 2px dashed white; */
    color: white;
  }

  nav a::after {
    content: '';
    display: block;
    height: 7px;
    background-color: rgb(187, 187, 187);
    bottom: 1;
    width: 0%;
    transition: all ease-in-out 200ms;
  }
  nav a:hover::after {
    width: 100%;
  }

  body {
    /* background: url("https://i.pinimg.com/originals/ea/c7/01/eac701da5ca08ca9b66fa5a27c16dd65.gif"); */
    /* background-image: url("https://phantom-marca.unidadeditorial.es/ad89983918ba343eb8e8dbcde992d63f/crop/0x0/1320x743/resize/1320/f/jpg/assets/multimedia/imagenes/2022/04/08/16494046048732.jpg"); */
    /* background-image: url('https://cutewallpaper.org/21/star-background-gif/Animated-Star-Background-Stock-by-FirstDarkAngel2001-on-.gif'); */
    /* background-image: url('https://images.squarespace-cdn.com/content/v1/55aa0163e4b0f765fc46dcd4/1587886681294-BESRVR6OWEOATSLQWNTD/IMG_5054.gif'); */
    /* background-image: url('https://i.gifer.com/L1dC.gif'); */
    background-image: url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  }

  .zodiac-container {
    display: grid;
    flex-direction: column;
    justify-items: center; 
    /* border: 2px solid black; */
    text-align: center;
    justify-content: center;
    /* width: 80%; */
  }


  .sign-container {
    display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(60px, auto);

  }

button {
  background-color: transparent;
  padding: 20px;
  margin: 5px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-family: 'My Soul', cursive;
}
button:hover {
  background-color: rgb(45, 45, 116); 
  box-shadow: 5px 7px black;
  border-radius: 40%; 
}
p {
  font-size: 20px;
}

.toggleDarkModeButton {
  position: sticky;
  right: 10px;
  top: 30px;
  width: 40px;
  padding: 0;
  height: 40px;
  border: none;
  background-image: url('https://ps.w.org/dark-mode-for-wp-dashboard/assets/icon-256x256.png?rev=2404672');
  background-size: cover;
}




button.aries{
  background-image: url('./images/Aries.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.cancer{
  background-image: url('./images/Cancer.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.taurus{
  background-image: url('./images/Taurus.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.gemini{
  background-image: url('./images/Gemini.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.leo{
  background-image: url('./images/Leo.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.virgo{
  background-image: url('./images/Virgo.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.libra{
  background-image: url('./images/Libra.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.scorpio{
  background-image: url('./images/Scorpio.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.sagittarius{
  background-image: url('./images/Sagittarius.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.capricorn{
  background-image: url('./images/Capricorn.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.aquarius{
  background-image: url('./images/Aquarius.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.pisces{
  background-image: url('./images/Pisces.png');
  height: 119px;
  width: 100px;
  border: none;
}

button.yesterday{
  background-image: url('./images/glass-ball.jpg');
  background-size: cover;
  height: 100px;
  width: 100px;
  border: none;
  text-align: center;
  padding: 0;
}

button.today{
  background-image: url('./images/glass-ball.jpg');
  background-size: cover;
  height: 100px;
  width: 100px;
  border: none;
  text-align: center;
  padding: 0;
}

button.tomorrow{
  background-image: url('./images/glass-ball.jpg');
  background-size: cover;
  height: 100px;
  width: 100px;
  border: none;
  text-align: center;
  padding: 0;
}
.history{
  display: flex;
  /* padding: 10px; */
  margin: 50px;
}

.textDiv{
  margin:100px;
  align-self: center;

}

.aboutUs{
  text-align: center;
  margin: 20px;
  
  }

  .thisIsUs{
    background-color: white;
    color: black;
    align-self: center;
    height: 100px;
    /* margin: auto; */
    
  }
  .thisIsUs .dark{
    background-color: black;
    color: white;
    align-self: center;
    height: 100px;
    /* margin: auto; */
    
  }

  .avatar{
    border-bottom: solid white;
    border-width: 5px;
    
  }
  .avatar .dark{
    border-bottom: solid black;
    border-width: 5px;
    
  }

  .ourSite{
    width: 1000px;
    margin: auto;
  }
